{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Users from {{ department.name }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Barcode Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.barcode_number }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
