{% extends "admin/base_site.html" %}
{% block content %}
<h1>{{ title }}</h1>
<table>
    <thead>
        <tr>
            <th>Book Barcode</th>
            <th>User</th>
            <th>Book Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.book_barcode }}</td>
            <td>{{ book.user|default:"No User" }}</td>
            <td>{{ book.book_title }}</td>
            <td>{{ book.auther }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No books found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'admin:novalib_bookslog_changelist' %}">Back to Books Log</a>
<br>
<a href="{% url 'admin:novalib_user_changelist' %}">Back to User List</a>
{% endblock %}